@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: #111827;
}

nav ul {
    background-color: #d95d39;
    position: absolute;
    right: 0;
    left: 0;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

nav li a:hover {
    background-color: #fff;
    color: #d95d39;
}

#title1 {
    position: relative;
    color: #e5e5e5;
    text-align: center;
    top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 250%;
}

#img1 {
    display: block;
    width: 50%;
    min-width: 400px;
    margin: auto;
    margin-top: 50px;
}

#author {
    color: #d4d4d4;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 85%;
    margin-top: 110px;
}

.src {
    color: #d4d4d4;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 85%;
    margin-top: 5px;
}

#intro {
    color: #e5e5e5;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.25;
    font-size: 135%;
}

.div_p {
    margin-top: 20px;
    width: 50%;
    min-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    color: #d1d5db;
    font-family: 'Montserrat', sans-serif;
    font-size: 115%;
    font-weight: 700;
}

.p {
    margin-top: 10px;
    color: #d1d5db;
    font-family: 'Montserrat', sans-serif;
    font-size: 115%;
    font-weight: 300;
    line-height: 1.5;
}

.highlighted {
    color: #d95d39;
    font-weight: 400;
    text-decoration: none;
}

.highlighted:hover {
    color: rgb(217, 160, 145);
}

#img2 {
    display: block;
    width: 35%;
    min-width: 400px;
    margin: auto;
    margin-top: 50px;
}

#img3 {
    display: block;
    width: 25%;
    min-width: 400px;
    margin: auto;
    margin-top: 50px;
}

#img4 {
    display: block;
    width: 35%;
    min-width: 400px;
    margin: auto;
    margin-top: 125px;
}

.list {
    list-style-type: disc;
    color: #d1d5db;
    font-family: 'Montserrat', sans-serif;
    font-size: 115%;
    font-weight: 300;
    line-height: 1.5;
}

.div_l {
    margin-top: 20px;
    width: 47%;
    min-width: 375px;
    margin-left: auto;
    margin-right: auto;
}